.warp{
    min-height: 90vh;
    padding: 20px;
    .button-warp {
        width: 100%;
        height: auto;
        span {
          display: inline;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
        }
      }
}