<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://localhost:8000/public/favicon.ico" type="image/x-icon">
    <title>Document</title>
<script defer src="/public/js/vendors-node_modules_core-js_modules_es_object_get-prototype-of_js-node_modules_core-js_modul-a58389.js"></script><script defer src="/public/js/vendors-node_modules_ant-design_icons_es_icons_CommentOutlined_js-node_modules_ant-design_ico-5ce1c4.js"></script><script defer src="/public/js/front.js"></script><link href="/public/css/vendors-node_modules_ant-design_icons_es_icons_CommentOutlined_js-node_modules_ant-design_ico-5ce1c4.css" rel="stylesheet"><link href="/public/css/front.css" rel="stylesheet"></head>
<body>
    <div id="root"></div>
</body>
</html>